<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Main JS -->
    <script src="scripts/landing.js"></script>
    <title>Tiki Bar</title>
</head>
<body>
    <nav>
        <ul class="nav">
            <li class="bar">HIVE 55 TIKI BAR</li>
            <li class="menu">Cocktail Menu</li>
            <li class="about">About</li>
            <li class="search"></li>
        </ul>
    </nav>
    <main>
        <section class="container">
            <h1>DRINK & ENJOY</h1>
            <h2>HAPPY HOUR</h2>
            <p>TIKI BAR is a Tiki bar located in the Financial District of San Francisco housed in a historical space that was once home to the infamous Tiki Bob's Mainland Rendezvous. As you enter TIKI BAR you find yourself in the belly of a wooden ship that will transport you off the streets of San Francisco and deliver you to an exotic escape.</p>
        </section>
        <img class="white" src="images/Leaf.png" alt="white leaf">
        <img class="drink" src="images/Landing_Drink IMG.png" alt="drink">
        <button>>>>Sign Up For Newsletter</button>
        <img class="red" src="images/Leaf Button_2.png" alt="red leaf">
    </main>
</body>
</html>